.seating {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seat {
    margin: 0.125rem;
}

.select-seat {
    border: none;
    background: none;
}


.timing-button {
    margin: 0.25rem;
}

.hidden {
    display: none;
    visibility: hidden;
}

.pay {
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        padding: 12px 25px;
        font-size: 16px;
        background-color: rgb(12, 97, 32);
        color: #fff;
        border-radius: 25px;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

    }
}